<?php $username=user("username")?>
<div id="dcWrap"> <div id="dcHead">
    <div id="head">
        <div class="logo"><a href="index.html"><!--<img src="images/dclogo.gif" alt="logo">-->
        </a></div>
        <div class="nav">
            <ul class="navRight">
                <li class="M noLeft"><a href="JavaScript:void(0);">您好,&nbsp;&nbsp;{$username}</a>
                </li>
                <li class="noRight"><a href="{:url('Index/loginout')}">安全退出</a></li>
            </ul>
        </div>
    </div>
</div></div>