{include file="public/head"}

<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">管理中心<b>></b><strong>banner管理</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3>添加banner</h3>
    <form action=""  method="post" id="form" enctype="multipart/form-data">
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
            <tr>
                <td width="100" align="right">图片(1920*460)</td>
                <td>
                    <input type="file" name="img">
                </td>
            </tr>
            <tr>
                <td width="100" align="right">缩略图片</td>
                <td>
                    <input type="file" name="small">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div >
                        <input type="hidden" name="id" value="1">
                        <input type="submit" value="添加" class="btn ">
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
</div>
<div class="clear"></div>
{include file="public/foot"}
</body>
</html>